*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: rgb(248, 244, 248);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #323231;
}
p{
	margin: 24px 0;
}

.main{
	display: flex;
	justify-content: center;
}

.img-card img{
	border-radius: 5px;
	width: 280px;
	box-shadow: 3px 3px 7px 0px rgb(196, 188, 188);
	float: left;
	position: sticky;
	top: 100px;
}

h2{
	text-align: center;
	font-size: 30px;
	margin: 20px 0;
	margin-bottom: 46px;
}

.button-ras{
	display: block;
	margin: 0 auto;
	padding: 16px 45px;
	font-size: 18px;
	background-color: rgb(113, 6, 102);
	color: aliceblue;
	cursor: pointer;
	border: 4px solid rgb(214, 177, 214);
	border-radius: 4px;
	margin-top: 38px;
	margin-bottom: 38px;
	letter-spacing: 1px;
}

.button-ras:hover{
	transition: all 0.4s ease;
	transform: scale(1.02);
}

.description{
	width: 480px;
	margin-top: 0px;
	margin-left: 50px;
	font-size: 20px;
	line-height: 34px;
	float: left;
}

.obolochka{
	background-color: white;
	padding: 35px 70px;
	padding-bottom: 50px;
	padding-top: 20px;
	border-radius: 15px;
	box-shadow: 0px 4px 4px 0px rgb(230, 226, 226);

}

.content{
	display: inline-flex;
}

.header {
	width: 100%;
	display: flex;
	position: sticky;
	top: 0;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgb(255, 255, 255);
	padding: 18px 0;
	box-shadow: 0 0 7px 0 rgb(194, 191, 191);
	z-index: 9;
}
.logo {
	display: flex;
	align-items: center;
}

.logo img{
	height: 40px;
}

.logo p{
	font-size: 36px;
	line-height: 36px;
	color: #e87c42;
	margin: 0;
	margin-left: 5px;
	font-weight: 400;
	margin-bottom: 5px;
	text-shadow: 2px 2px 2px #f6f3f3;
}

.menu {
	text-decoration: none;
}

.menu li{
	float: left;
	margin-left: 4px;
	list-style-type: none;
	padding: 6px 18px ;
	padding-top: 6px;
	padding-bottom: 8px;
	border-radius: 4px;
}
.menu li:first-child{
	margin-left: 0px;
}

.menu li:hover{
	transition: all 0.4s ease;
/* 	color: #e87c42; */
	cursor: pointer;
	background-color: #f8f6f6;
	padding: 6px 18px ;
	padding-top: 6px;
	padding-bottom: 8px;
	border-radius: 50px;
}


.regist ,.login{
	border: none;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #323231;
	cursor: pointer;
	padding: 8px 20px;
	border-radius: 10px;

}

.regist {
	background-color: white;

}
.login {
	margin-left: 2px;
	background-color: #fbcfb8;
}

.regist:hover ,.login:hover{
	transition: all 0.4s ease;
	background-color: #f8f6f6;
}

.footer{

	background-color: rgb(255, 255, 255);

	padding-top: 26px;
	padding-bottom: 1px;
	box-shadow: 0 0 7px 0 rgb(194, 191, 191);
	margin-top: 36px;

}

.footer-content{
		display: flex;
	justify-content: space-evenly;
	align-items: start;
	margin-bottom: 20px;
}

.vert img{
	transform: scaleY(-1);
	height: 481.09px;
	z-index: 1;
	box-shadow: 3px -3px 7px 0px rgb(196, 188, 188);

}

.footer-menu li{
	list-style-type: none;
	margin: 12px 10px;
	font-size: 16px;
}

.footer-menu li:hover{
transition: all 0.5s ease;
color: #e87c42;
cursor: pointer;
}

.copy {
	text-align: center;
	margin: 30px 0;
	font-size: 18px;
	color: #646261;

}

@media (max-width: 768px) {
	.menu {
		display: none;
	}

	.header{
		justify-content: space-between;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.logo img{
		height: 26px;
	}
	
	.logo p{
		font-size: 26px;
		line-height: 26px;
	}

	.regist {
		display: none;
	
	}
	.login {
		margin-left: 2px;
		background-color: #fbcfb8;
	}

	.content{
		display: inline-flex;
		flex-direction: column;
		width: 100%;
		padding: 10px;
	}

	
.img-card img{

	width: 80%;
	margin-left: 10%;
	position: static;

}

.button-ras{
	
	margin-top: 18px;
	margin-bottom: 18px;

}


.description{
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	font-size: 20px;
	line-height: 29px;
	float: left;
}

.obolochka{
border-radius: 0px;
	padding: 10px 10px;

}

h2{
	font-size: 30px;
	margin: 10px 0;
margin-top: 20px;
}

}